fastapi==0.135.1
uvicorn[standard]==0.41.0
gunicorn==25.1.0

pydantic==2.12.5
pydantic-settings==2.13.1
python-dotenv==1.2.2

orjson==3.11.7
httpx==0.28.1
tenacity==9.1.4
structlog==25.5.0

# Data layer
sqlalchemy[asyncio]==2.0.48
asyncpg==0.31.0
alembic==1.18.4

# Redis (async: `from redis import asyncio as redis_async`)
redis==7.3.0

# ClickHouse
clickhouse-connect==0.14.1

slowapi==0.1.9
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
